WOW + div span {
  transition: all 0.2s ease-in-out;
  position: relative;
}
@media screen and (min-width: 992px) {
  WOW + div span {
    /*font-size: 50px;*/
  }
}
WOW + div span:before, WOW + div span:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
}
WOW + div span.hover-3:before {
  left: calc(50%);
  background-color: #52a3df;
}
WOW + div span.hover-3:after {
  right: calc(50%);
  background-color: #52a3df;
}
WOW + div:hover {
  cursor: pointer;
}
WOW + div:hover span:before, WOW + div:hover span:after {
  opacity: 1;
}
WOW + div:hover span.hover-3:before, WOW + div:hover span.hover-4:before, WOW + div:hover span.hover-3:after, WOW + div:hover span.hover-4:after {
  width: 50%;
}
